<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA9Yz9OLPTA0+8VxVec4eNnAAAAAACAAAAAAAQZgAAAAEAACAAAACMPdZ4015ImJxSnDGHXornX+FbAUwsvgIkta1YOQW2hQAAAAAOgAAAAAIAACAAAABSAF0YXNaKsmrrPDAqw2SJCqsSbhaMf1uWc0Ib6INS3TAAAADA3UIzgkCC+dAW/FTe4k/4zZtQV4yn3dl4/GIBHaSEKwAB5dUAhHrrKCG1XsJBjUxAAAAANzIUG/NEsBD2LUoC4DJX1q1Z1uLZHfJbJNo+FjhRgcaXy/3kGt7ozvgWVKn6Ta/Aq1Eyor70ntoQE4A74WDkag==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA9Yz9OLPTA0+8VxVec4eNnAAAAAACAAAAAAAQZgAAAAEAACAAAACpIUmV+9F1SX3Udg4kkMVOrqkkxS7A+1eBWG60CdOVnQAAAAAOgAAAAAIAACAAAACOXV03NepyxOMj2hwWLryb9qJEPel/wwF9XCSlYyjCGjAAAABOXjvatDc/qa6/TtsikAQHrNONEp6jq/+co3FPQjQ6Wrh7Tl/MxDsDnC5J3XE03ARAAAAAWgyyYxwu5qxl8XS/SCbNVH2NSDG+kS07fX7X2J7z5sgIF29S9+pOlgfDeNqNzU1a2vAO40McMTa+nqGVfPikPQ==" />
  </apikeys>
</configuration>